html, body {
  @import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

  @apply text-primary-alt;

  font-family: 'Spectral SC', serif !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.bg-dark-gray {
  background: #151515;
}

.bg-black {
  background: black;
}

.bg-red {
  background: #853435;
}

.bg-green {
  background: #58804D;
}

.bg-white {
  background: white;
}

.text-black {
  color: black;
}

.text-red {
  color: #853435;
}

.text-green {
  color: #58804D;
}

.text-white {
  color: white;
}

.text-stroke-yellow {
  -webkit-text-stroke: 0.3px #b8a984;
}

.text-stroke-brown {
  -webkit-text-stroke: 0.2px #211c17;
}

.min-h-12 {
  min-height: 3rem;
}

.max-h-12 {
  max-width: 3rem;
}

.max-w-20 {
  max-width: 5rem;
}

.load-in-bg1 {
  background-image: url('/images/map/worldmap.png');
}

.load-in-bg2 {
  background-image: url('/images/ui/window-screen-bg.png');
}

.load-in-bg3 {
  background-image: url('/images/ui/screen-bg.png');
}

.bgshadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
}

.fav-bg {
  background: white;
  border-radius: 100%;
  border: 1px solid #00b67a;
}

.bubble {
  display: block;
  position: relative;
  background: linear-gradient(-175deg, #27a1ac 19%, #7fca49 100%);
  color: #FFFFFF;
  font-size: 3px;
  box-shadow: 5px 5px 15px 0 #000000;
  text-align: center;
  border-radius: 6px;
  padding: 1px 2px;
}

@screen md {
  .bubble {
    display: block;
    position: relative;
    background: linear-gradient(-175deg, #27a1ac 19%, #7fca49 100%);
    color: #FFFFFF;
    font-size: 0.5vw;
    box-shadow: 5px 5px 15px 0 #000000;
    text-align: center;
    border-radius: 6px;
    padding: 1px 2px;
  }
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

section {
  .screen {
    max-height: 95vh;

    @screen md {
      max-height: 85vh;
    }

  }
}